@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.App {
  /* text-align: center; */
  font-family: "Ubuntu", sans-serif;
  color: #e8e5df;
  height: 100vh;
  background-color: #1d1f21;
  box-sizing: border-box;
}
