@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.App {
  /* text-align: center; */
  font-family: "Ubuntu", sans-serif;
  color: rgb(190, 190, 190);
  height: 100vh;
  background-color: rgb(100, 100, 100);
}
