/* .App {
  max-width: 1250px;
} */

:root {
  --primary-100: #9b635a;
  --primary-200: #ce9187;
  --primary-300: #fff5e9;
  --accent-100: #82b84e;
  --accent-200: #205a00;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #f7f7f7;
  --bg-200: #ededed;
  --bg-300: #c4c4c4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-page {
  background-color: #fbfbfb;
  width: 100%;
  height: 100vh;
  /* max-width: 1250px; */
  /* max-height: 860px; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

.main-page::-webkit-scrollbar {
  display: none;
}

.header {
  /* border: 1px solid blue; */
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 3.5rem;
  width: 100%;
  /* border-bottom: 1px solid rgba(100, 100, 100, 0.7); */
  white-space: nowrap;
}

.logo {
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin: 0 1rem 0 2rem;
  height: 100%;
  padding: 0 1rem 0 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Ysabeau", sans-serif;
}

.highlightWrap {
  display: inline-block;
  position: relative;
}
.highlight {
  /* content: ""; */
  width: 100%;
  height: 20px;
  display: inline-block;
  background-color: #b7f8ba;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 2%;
  z-index: -2;
  opacity: 0;
  transform: rotate(15deg);
  transition: all 0.4s;
}

.highlight-1-wrap {
  display: inline-block;
  position: relative;
}
.highlight-1 {
  /* content: ""; */
  width: 0;
  height: 10px;
  display: inline-block;
  background: #b7f8ba;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.2s all;
}

/* .highlight-1-wrap:hover .highlight-1 {
  width: 100%;
} */

.logo:hover .highlight {
  opacity: 1;
}

.header-menu {
  display: flex;
}

.header .link {
  /* border: 1px solid red; */
  padding: 1rem 2rem;
  text-decoration: none;
  color: #5f5e5e;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  cursor: pointer;
  flex: 20;
}

.header .link:hover,
.header .link.is-active {
  border-bottom: 2px solid #333333;
}
.empty {
  flex: 3;
  transition: all 0.4s;
}
.search-bar {
  /* border: 1px solid red; */
  margin-left: 20px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-input {
  background-color: transparent;
  opacity: 0;
  width: 0;
  padding: 6px 6px 6px 22px;
  margin-left: -20px;
  transition: width 0.2s;
}

.nav-input::-webkit-input-placeholder {
  text-align: center;
  text-indent: 0;
}

.nav-input.active {
  width: 350px;
  opacity: 1;
  transition: width 0.2s;
}

.nav-input:focus {
  /* border: none; */
  outline: none;
}

.profile-container {
  position: relative;
  padding: 0 1.5rem 0 0.7rem;
}

.profile {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  border: 1px solid #5f5e5e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.profile-name {
  padding: 0 9px;
}

.profile-btn {
  width: 15px;
  height: 15px;
  position: relative;
  cursor: pointer;
}

.profile-btn > div:first-child {
  position: absolute;
  background-color: #333333;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 20%;
  transition: width 0.2s 0.2s, height 0.2s, left 0.2s 0.2s, right 0.2s 0.2s;
}

.profile-btn > div:nth-of-type(2) {
  position: absolute;
  background-color: #333333;
  top: 40%;
  left: auto;
  right: auto;
  width: 100%;
  height: 20%;
  transition: all 0.4s;
}

.profile-btn > div:nth-of-type(3) {
  position: absolute;
  background-color: #333333;
  top: 80%;
  left: auto;
  right: auto;
  width: 100%;
  height: 20%;
  transition: all 0.4s;
}

.profile-btn.isActive > div:first-child {
  position: absolute;
  background-color: #333333;
  left: 40%;
  right: 40%;
  top: 0;
  width: 20%;
  height: 100%;
  transition: width 0.2s, height 0.2s 0.2s, left 0.2s, right 0.2s;
}

.profile-btn.isActive > div:nth-of-type(2) {
  position: absolute;
  background-color: #333333;
  top: 40%;
  right: 0;
  width: 70%;
  height: 20%;
  transform: rotate(-45deg);
  transform-origin: bottom right;
}

.profile-btn.isActive > div:nth-of-type(3) {
  position: absolute;
  background-color: #333333;
  top: 40%;
  width: 70%;
  height: 20%;
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.my-modal {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 3;
  background-color: #f7f7f7;
  border-radius: 4px;
  position: absolute;
  right: 10%;
  top: 90%;
  padding: 5px 10px;
  outline: none;
}

.my-modal a {
  display: inline-block;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.my-modal li {
  margin-bottom: 3px;
  outline: none;
}

.my-modal li:hover .highlight-1 {
  width: 100%;
}

#login-btn {
  flex: 0;
}

.main-content {
  /* border: 1px solid red; */
  overflow: auto;
  width: 100%;
  margin-top: 56px;
  height: calc(100% - 56px);
}

@media screen and (max-width: 830px) {
  .nav-input {
    width: 100%;
  }
  .empty {
    flex: -1;
  }
  .search-bar {
    flex: 700;
  }
}

@media screen and (max-width: 580px) {
  .header {
    justify-content: space-between;
  }
  .logo {
    /* width: 200px; */
    flex: 2;
    padding: 0;
    margin: 0;
  }
  .header-menu {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu > a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-input {
    width: 0;
    /* border: 1px solid red; */
  }
  .empty {
    display: none;
  }
  .profile-container {
    padding: 0;
    margin: 0;
    flex: 2;
  }
}
@media screen and (max-width: 505px) {
  .profile-name,
  .profile-img {
    display: none;
  }
  .logo {
    flex: 3 1;
  }
  .profile {
    margin: 0;
  }
  .profile-container {
    position: relative;
    padding: 0;
  }
  .header-menu {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu > a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-modal {
    top: 160%;
  }
}
